<footer class="flex justify-center p-4">
  <div class="w-full lg:w-8/12 text-gray-800 text-center">
    <p>
      Este traductor es una guía para el aprendizaje de la lengua Yoremnokki más no
      pretende ser una fuente exhaustiva ni exacta de la lengua.
    </p>
    <p class="mt-2">
      Para más información, consulta la
      <a href="https://site.inali.gob.mx/Micrositios/normas/mayo.html" target="_blank" class="underline">
        NORMA DE ESCRITURA DE LA LENGUA YOREMNOKKI (MAYO)
      </a>  y busca orientación de hablantes nativos.
    </p>
    <p class="mt-2 border-t-2 border-orange-500">
      Pruebe el traductor hecho con <i>inteligencia artificial</i>
    </p>
    <p>
      <a href="https://colab.research.google.com/drive/1Hnb7CPBLfVCbX8giheVQ-c4OHEiGgVPN#scrollTo=ndivV0fMcJop" target="_blank" class="underline">Link aquí</a>
    </p>
    <p>Necesitará una cuenta de Google.</p>
    <p class="mt-2 border-t-2 border-orange-500">
      Si gustas contribuir a este proyecto, puedes hacerlo en <a href="https://github.com/Sandalf/traductor-yoremnokki" target="_blank" class="underline">GitHub.</a>
    </p>
  </div>
</footer>
