<footer class="flex justify-center p-4">
  <div class="w-full lg:w-8/12 text-gray-800 text-center">
    <p>
      Este traductor es una guía para el aprendizaje de la lengua Yoremnokki más no
      pretende ser una fuente exhaustiva ni exacta de la lengua.
    </p>
    <p class="mt-2">
      Para más información, consulta la
      <a href="https://site.inali.gob.mx/Micrositios/normas/mayo.html" target="_blank" class="underline">
        NORMA DE ESCRITURA DE LA LENGUA YOREMNOKKI (MAYO)
      </a>  y busca orientación de hablantes nativos.
    </p>
  </div>
</footer>
